/****************RESET*****************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***********************************************************/
/***********************************************************/
/***********************************************************/
$textoprincipal: "Anek Odia", sans-serif;
$colorpincipal: #3da8e0;
$colorsecundario: #2e6bb3;

body {
  background-color: lightgray;
  font-family: $textoprincipal;
}
h2 {
  margin: 2rem 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: $colorsecundario;
}
.header__logo {
  background: url("../img/logo-egotech.svg") no-repeat center center;
  display: block;
  height: 4rem;
  width: 15rem;
  font-size: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: $colorpincipal;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__nav__link {
  margin: 0 2rem;
  display: inline-block;
}
.header__nav {
  font-size: 1.25rem;
  font-weight: 800;
  list-style: none;
  top: 0;
  a {
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline;
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
    }
    &::before {
      background-color: $colorsecundario;
      height: 3px;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }
}
.header__nav__link.active {
  &::before {
    height: 3px;
    transform-origin: 50% 0%;
    transform: scaleX(1);
  }
}
.colorIcon {
  display: inline-block;
  color: white;
  font-size: 2.25rem;
}
.carrito {
  display: flex;
}
.cart__cantidad {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.25rem;
  margin-left: 1.25rem;
  background-color: $colorsecundario;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0.9rem;
  & > span {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-weight: 700;
    color: white;
  }
}
.buttonGral {
  margin: 0;
  padding: 0 0.5rem;
  color: $colorpincipal;
  border: none;
  background-color: transparent;
  &:hover > span {
    color: $colorsecundario;
    background-color: lightblue;
    border-radius: 50%;
  }
  &:disabled {
    opacity: 0.35;
  }
}
.contentBtn {
  margin-top: auto;
  flex-direction: column;
  justify-items: center;
}
.botones {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid $colorpincipal;
  border-radius: 0.25rem;
}
.contador {
  width: 80%;
  font-weight: 400;
  padding: 0.75rem 0rem 0.5rem 0rem;
  color: rgb(80, 80, 80);
  text-align: center;
  font-size: 2.25rem;
  height: 3rem;
}
.agregar {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 900;
  color: white;
  padding: 0.75rem;
  margin: 0.25rem 0;
  background-color: $colorsecundario;
  width: 100%;
  border-radius: 0.25rem;
  transition: all 150ms ease-in-out;
  &:hover {
    background-color: $colorpincipal;
    color: white;
  }
  &:disabled {
    opacity: 0.35;
  }
}
.card > div > h3 {
  color: $colorsecundario;
  font-weight: 800;
  font-size: 1.6rem;
  transition: all 200ms ease;
}
.card {
  position: relative;
  width: 320px;
  overflow: hidden;
  background-color: white;
  border: 8px solid rgb(248, 248, 248);
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(50, 50, 50, 0.2);
  display: flex;
  text-align: left;
  padding: 1.25rem 0.75rem;
  flex-direction: column;
  transition: all 100ms ease-in-out;
  &:hover {
    box-shadow: 0 0 15px rgba(50, 50, 50, 0.8);
    border: 8px solid rgb(240, 240, 240);
  }
  &:hover > h3 {
    transform-origin: left;
    transform: translateY(1.5rem);
  }
  & > img {
    z-index: 0;
    transition: all 180ms ease-in-out;
    top: 0;
    width: 300px;
    margin: 1.25rem 0;
  }
  &:hover > img {
    transform: scale(1.25);
  }
}
.div__H3 {
  z-index: 1000;
  height: 30px;
}
.listProducts {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: auto;
  width: 80%;
}
.article__div {
  z-index: 2;
  color: grey;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.article__div__price {
  margin-left: 0.5rem;
  color: $colorsecundario;
  font-size: 2rem;
}
.article__icon {
  margin-left: auto;
}
.card__btn {
  border: none;
  background-color: $colorsecundario;
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: $colorpincipal;
  }
}
.lds-ring {
  margin: 15rem auto auto auto;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $colorpincipal;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $colorpincipal transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  padding: 3rem 5rem;
}
.detalle {
  display: flex;
  flex-wrap: nowrap;
  width: 65%;
  border-radius: 0.3rem;
  background-color: white;
  margin: auto;
  padding: 1rem;
}
.detalle__img img {
  width: 500px;
  height: auto;
}
.detalle__img {
  display: flex;
  text-align: center;
  justify-content: center;
  flex: 3;
}
.detalle__info {
  flex: 1;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0.2rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;

  gap: 2rem 0;
}
.detalle__info p {
  line-height: 1.45rem;
}
.detalle__info__titulo {
  font-size: 2rem;
  color: $colorsecundario;
  font-weight: 700;
}
.detalle__info__cat {
  display: inline-block;
  background-color: $colorpincipal;
  color: white;
  border-radius: 0.25rem;
  padding: 0.4rem 0.25rem 0.25rem 0.25rem;
  margin-right: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem 1.5rem 0;
  font-weight: 500;
}
.detalle__info__catNombre {
  font-weight: 800;
  color: rgb(120, 120, 120);
}
.detalle__descrip {
  margin-bottom: auto;
}
.detalle__info__price {
  font-size: 3rem;
  color: rgb(120, 120, 120);
  font-weight: 300;
}
.detalle__info__div {
  display: flex;
  align-content: center;
}

* {
  box-sizing: border-box;
}
.main__cart {
  display: flex;
  padding: 2rem;
  padding-top: 5rem;
}
.main__cart__listado {
  flex: 6;
}
.main__cart__carrito {
  flex: 2;
  border: solid 1px rgb(200, 200, 200);
  padding: 0rem 1rem;
  min-height: 50%;
}
.main__cart {
  margin: auto;
  min-height: 80vh;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: white;
}
.main__cart h2 {
  text-align: left;
  font-weight: 300;
}
.botonElimCarrito {
  margin-top: 5rem;
}

.main__cart__row_titulo {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: solid 3px rgb(240, 240, 240);
}
.main__cart__titulo__cant {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main__cart__titulo__img {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main__cart__titulo__producto {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  height: 100%;
  padding: 0.25rem 1rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main__cart__titulo__precio {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__cart__titulo__total {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__cart__titulo__modificar {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 11%;
}

.main__cart__titulo__eliminar {
  color: $colorsecundario;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.main__cart__row {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100px;
}

.main__cart__row__cont__cant {
  padding: 0.25rem 1rem;
  height: 100%;
  width: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main__cart__row__cont__img {
  padding: 0.25rem 1rem;
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & > img {
    height: 100%;
  }
}

.main__cart__row__cont__nom {
  color: $colorsecundario;
  font-weight: 700;
  height: 100%;
  padding: 0.25rem 1rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.main__cart__row__cont__precio {
  color: $colorsecundario;
  font-weight: 400;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__cart__row__cont__total {
  color: $colorsecundario;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorEliminar {
  width: 11%;
}
.main__cart__Final__row {
  color: rgb(100, 100, 100);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
.main__cart__Final__cant {
  flex: 1;
}
.main__cart__Final__nom {
  flex: 8;
}
.main__cart__Final__total {
  flex: 2;
}
.section__importe {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 0 2rem;
  color: $colorsecundario;
  font-weight: 900;
}
.eliminar {
  font-family: $textoprincipal;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: lightcoral;
  cursor: pointer;
  padding: 0.8rem 0.8rem 0.4rem 0.25rem;
  border: inherit;
  border-radius: 0.25rem;
  margin: 0 1rem;
  transition: all 100ms ease-in-out;
  & > span {
    margin-right: 0.25rem;
    margin-top: -0.4rem;
    transition: all 100ms ease-in-out;
    font-size: 1.5rem;
  }
  &:hover {
    background-color: rgb(204, 73, 73);
  }
  &:hover > span {
    transform: translateX(4px);
  }
}
.eliminarCarrito {
  font-family: $textoprincipal;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: lightcoral;
  cursor: pointer;
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  border: inherit;
  border-radius: 0.25rem;
  margin: 0 0.1rem;
  transition: all 100ms ease-in-out;
  & > span {
    margin-top: -0.4rem;
    transition: all 100ms ease-in-out;
    font-size: 1.5rem;
  }
  &:hover {
    background-color: rgb(204, 73, 73);
  }
  &:hover > span {
    transform: translateX(4px);
  }
}
.botonesCarrito {
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0 1rem;
  margin-top: auto;
}
.comprar {
  font-family: $textoprincipal;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: lightseagreen;
  cursor: pointer;
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  border: inherit;
  border-radius: 0.25rem;
  margin: 0 0.15rem;
  transition: all 100ms ease-in-out;
  &:hover {
    background-color: rgb(204, 73, 73);
  }
  & a {
    text-decoration: none;
    color: white;
  }
}
.modificar {
  font-family: $textoprincipal;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  content: "e872";
  background-color: lightseagreen;
  cursor: pointer;
  padding: 0.8rem 0.8rem 0.4rem 0.4rem;
  border: inherit;
  border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  margin: 0 0.5rem 0 0;
  & > span {
    margin-top: -0.4rem;
    margin-right: 0.5rem;
    transition: all 100ms ease-in-out;
    font-size: 1.5rem;
  }
  &:hover {
    background-color: rgb(10, 134, 128);
  }
  &:hover > span {
    transform: translateX(4px);
  }
}
.linksCart {
  text-decoration: inherit;
  &:visited {
    color: inherit;
  }
}
.contenedorModificar {
  margin-left: auto;
  width: 11%;
}
.banner__container {
  width: 100%;
  & > img {
    width: 100%;
  }
}
.conf {
  background-color: $colorpincipal;
  margin: 0 0.25rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  color: white;
  font-size: large;
  &:hover {
    background-color: rgb(23, 124, 179);
  }
}
.cancel {
  background-color: lightcoral;
  margin: 0 0.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  color: white;
  font-size: large;
  &:hover {
    background-color: rgb(219, 87, 87);
  }
}
.volver {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 85vh;
  padding: 5rem 1rem 1rem 1rem;
}
.volver h2 {
  font-size: 5rem;
  color: $colorsecundario;
  margin-bottom: 8rem;
}

.volver__btn {
  color: white;
  font-family: $textoprincipal;
  font-size: 1.2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: $colorpincipal;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  margin: 8rem auto 0 auto;
  padding: 1rem 1.5rem 0.8rem 1.5rem;
  & .back {
    transform: translate(0, 0.5rem);
    margin-right: 1rem;
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    transition: all 100ms ease-in-out;
  }
  & > a {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
  }
  &:hover {
    background-color: rgb(10, 134, 128);
    & .back {
      transform: translate(-1rem, 0.5rem);
    }
  }
}

.checkout {
  min-height: 85vh;
  border-radius: 0.25rem;
  margin: auto;
  background-color: white;
  border: solid 1px lightgrey;
  width: 70%;
  padding: 2rem 9rem;
  text-align: center;
  & > h2 {
    font-size: 3rem;
  }
  & > div > span {
    color: lightseagreen;
    font-size: 15rem;
    font-weight: 900;
  }
}
.contenedor__id {
  color: $colorpincipal;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1.5rem 0;
}
.contenedor__id__id {
  font-weight: 200;
  font-size: 2.5rem;
}
.contenedor__id__numero {
  font-weight: 900;
}
.contenedorDatos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.contenedorDatos__datos {
  & > h3 {
    display: block;
    margin: 0;
    padding: 0;
  }
}
.contenedorDatos__datos,
.contenedorDatos__phone,
.contenedorDatos__email {
  background-color: $colorsecundario;
  border: solid 1px white;
  padding: 1.1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.contenedorDatos__datos {
  background-color: grey;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.checkout__titulos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 2.5rem;
}
.checkout__titulos__productos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 2px grey;
  flex: 10;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
}
.checkout__titulos__cantidad {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 2px grey;
  flex: 2;
  height: 100%;
}
.checkout__nombre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  flex: 10;
  height: 100%;
  background-color: rgb(240, 240, 240);
  border-bottom: solid 1px rgb(200, 200, 200);
}
.checkout__cantidad {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 100%;
  background-color: rgb(240, 240, 240);
  border-bottom: solid 1px rgb(200, 200, 200);
}
.checkout__total {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  background-color: rgb(240, 240, 240);
  border-bottom: solid 1px rgb(200, 200, 200);
  border-top: solid 1px rgb(200, 200, 200);
}
.checkout__total__total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  flex: 10;
}
.checkout__total__precio {
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex: 2;
}
@media (max-width: 1230px) {
  .header__nav {
    display: none;
  }
}
